.auth-modal {
  *:not(button) {
    margin: 0;
    padding: 0;
  }

  form {
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    label {
      width: 100%;

      span {
        position: absolute;
      }

      input:focus {
        margin-top: 2rem;
      }
    }

    input {
      width: 100%;
      padding: 0.5rem;
      position: relative;

      transition: 0.3s ease-in-out;
    }
  }

  menu {
    border-top: 1px solid black;
    background-color: #eee;
    padding-bottom: 1rem;
    width: 100%;

    button {
      translate: 0 -1px;
      margin: 0 0.5rem;
      width: calc(50% - 1rem);

      background-color: white;
      border-radius: 0 0 0.5rem 0.5rem;
      border: 1px solid black;
      border-top: 1px solid white;

      text-align: center;

      :focus-visible {
        text-decoration: underline;
        text-decoration-color: dodgerblue;
      }

      &[aria-pressed="true"] {
        border: none;
        background: none;
        border-top: 1px solid black;
      }
    }
  }
}
