.coin-counter {
  color: gold;
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  filter: drop-shadow(0 0 0.5rem black);
  font-size: 1.2rem;
  svg {
    width: 2rem;
    height: 2rem;
  }
  padding: 0.5rem;
  top: 2rem;
  right: 2rem;

  animation: wobble-10s 10s ease-in-out infinite;
  animation-delay: -5s;
  animation-fill-mode: forwards;
}

.debug-button {
  transition: 0.3s ease-in-out;
  opacity: 0.25;
  &:hover {
    opacity: 1;
  }
}
