.drawer {
  background-color: cyan;
  border: none;
  width: 100% !important;

  &[open] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    z-index: 1000;
    position: absolute;
    inset: auto 0 0 0;
    margin: 0;

    h1 {
      font-size: 1.2rem;
      font-weight: 400;

      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        background-color: transparent;
        cursor: pointer;
      }
    }

    &::backdrop {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
