.leaderboard {
  $rank-height: 4rem;
  $rank-gap: 1rem;
  $rank-avatar-size: 3rem;
  $shown-ranks: 12;

  $scroll-margin: floor($shown-ranks / 3) * $rank-height;

  user-select: none;

  ol {
    height: $rank-height * $shown-ranks;
    overflow-x: hidden;
    overflow-y: visible;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0 1rem 2rem;
    border: 1px solid #0003;
    gap: $rank-gap;
    list-style: none;

    li {
      scroll-margin-top: $scroll-margin;
      height: $rank-height;

      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1rem;
      border-radius: 0.5rem;
      background-color: white;

      // transition: 0.3s ease-in-out;
      // translate: 0 calc(var(--rank, 0) * $rank-height);

      &.bottom-ten {
        background: rgb(253, 230, 230);
      }

      &.bottom {
        background: rgb(246, 133, 133);
      }

      &.top-ten {
        background: #cfe7cf;
      }

      &.top {
        background: gold;
        position: sticky;
        z-index: 1;
        top: 0;
      }

      &.customer {
        font-weight: 900;
        border: 1px solid gold;
        outline: 0.25rem solid gold;

        animation: pulse-outline 1s ease-in-out infinite;

        @keyframes pulse-outline {
          from {
            outline-offset: 0;
            outline-color: gold;
            outline-width: 0;
          }

          to {
            outline-width: 0.25rem;
            outline-offset: 2.5rem;
            outline-color: #0000;
          }
        }

        position: sticky;
        top: #{$rank-height + $rank-gap};
        bottom: 0;
      }

      .name {
        display: grid;
        grid-template-columns: auto #{$rank-height} 1fr;
        grid-template-rows: repeat(#{$rank-height / 2}, 2);
        grid-template-areas: "🪪 ⭐️ •" "🌐 ⭐️ •";
        flex-grow: 1;
      }

      .star {
        grid-area: ⭐️;

        width: #{$rank-height / 2} !important;
        height: #{$rank-height / 2} !important;
        place-self: center;
        color: gold;
        filter: drop-shadow(0 0.25rem 0 orange);

        &[hidden] {
          visibility: hidden;
          opacity: 1;
        }
      }

      .fullname {
        grid-area: 🪪;
        display: flex;
        gap: 0.25rem;
      }

      .username {
        grid-area: 🌐;
        color: #888;
        font-size: 0.8rem;
        font-weight: 300;
      }

      .coins {
        display: flex;
        padding: 1rem;
        gap: 0.5rem;
      }

      img {
        width: $rank-avatar-size;
        height: $rank-avatar-size;
        border-radius: 50%;
      }
    }
  }
}
