@use "sass:math";
@import "./wobble.scss";

%white-icon-button {
  background: none;
  border: none;

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  padding: 0.75rem;
  z-index: 2;
}

button.like-button {
  @extend %white-icon-button;

  svg {
    width: 2.5rem;
    height: 2.5rem;
    filter: drop-shadow(0 0 0.5rem #0008);
    transition: 0.3s ease-in-out;
  }

  &:hover {
    svg {
      filter: drop-shadow(0 0 0.5rem crimson);
    }
  }

  &:active {
    svg {
      color: crimson;
    }
  }

  transition: 0.1s ease-in-out;
  transform-origin: center;

  &:hover {
    scale: 1.5;
  }

  @media (hover: none) {
    scale: 1.5;
  }

  &:active {
    scale: 0.75;
  }

  @include wobble(10, 3s, 10s, -3s);

  &:hover {
    animation: none;
  }

  &::after {
    content: "LIKE";
    position: absolute;
    bottom: 100%;
    width: 100%;
    left: 0;
    pointer-events: none;
    text-align: center;
  }
}
