button.like-button {
  @extend %scaling-button;

  background: none;
  border: none;

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  padding: 0.75rem;
  z-index: 2;

  svg {
    width: 2.5rem;
    height: 2.5rem;
    filter: drop-shadow(0 0 0.5rem #0008);
    transition: 0.3s ease-in-out;
  }

  &:hover {
    svg {
      filter: drop-shadow(0 0 0.5rem crimson);
    }
  }

  &:active {
    svg {
      color: crimson;
    }
  }
}
