dialog.modal {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  display: block;
  transition: 0.3s 0.1s ease-in-out;

  --tx: 0;
  --ty: 200vh;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) translate(var(--tx), var(--ty));

  filter: blur(5rem);
  scale: 0;
  opacity: 0;

  &[open] {
    --ty: 0;
    filter: blur(0rem);
    opacity: 1;
    scale: 1;
  }

  border: 1px solid #0003;
  border-radius: 0.5rem;
  padding: 0;

  max-width: 500px;
  max-height: 70vh;
  min-height: min(500px, calc(var(--vh, 100vh) / 40));
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  > h1:first-of-type {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0;

    display: flex;
    justify-content: space-between;

    // close button
    button {
      all: unset;
      cursor: pointer;
    }
  }

  &::backdrop {
    transition: 3s ease-in-out;
    background-color: #0000;
    backdrop-filter: blur(0rem);
  }

  &[open]::backdrop {
    background-color: #0008;
    backdrop-filter: blur(0.5rem);
  }
}
