*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 12px;
  display: grid;
  height: 100vh;
  place-items: start center;

  scroll-behavior: smooth;

  body {
    margin: 0;
    padding: 2rem;
    font-family: "Lato", sans-serif;
    position: relative;
    height: var(--vh, 100vh);
    max-width: 90vw;
    aspect-ratio: 9/16;
    background-color: black;
    overflow: hidden;
  }
}
