*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 8px;
  display: grid;
  height: 100vh;
  place-items: start center;

  scroll-behavior: smooth;

  // On desktop use 12px as the base font size
  @media (min-width: 768px) {
    font-size: 10px;
  }

  // On large desktop use 16px as the base font size
  @media (min-width: 1024px) {
    font-size: 12px;
  }

  body {
    padding: 2rem;
    font-family: "Lato", sans-serif;
    position: relative;
    height: var(--vh, 100vh);
    margin-top: calc((100vh - var(--vh, 100vh)) / 2);
    max-width: 90vw;
    aspect-ratio: 9/16;
    background-color: black;
    overflow: hidden;
  }
}
