.stream {
  position: absolute;
  inset: 0;
  z-index: -1;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: black;
    position: absolute;
    inset: 0;
  }
}

.vignette {
  pointer-events: none;
  position: absolute;
  inset: 0;

  @function shadow($x: 0, $y: 0, $blur: max(abs($x), abs($y))) {
    @return unquote($string: "inset #{$x} #{$y} #{$blur} #{-$blur} black");
  }

  box-shadow: shadow(0, 10rem, 6rem), shadow(0, -10rem, 5rem);
}
