@mixin wobble(
  $count: 3,
  $time: 1s,
  $duration: 10s,
  $delay: 0s,
  $colors: inherit inherit,
  $translation: 0rem,
  $rotation: 5deg,
  $scale: 1
) {
  $id: unique-id();
  $name: unquote("wobble-#{$id}");

  animation: $name $duration linear infinite alternate;
  animation-delay: $delay;

  @keyframes #{$name} {
    $wobble-delay: $duration - $time * 1.5;

    $wobble-delay-percent: math.div($wobble-delay, $duration) * 100%;
    $wobble-time-percent: math.div($time, $duration) * 100%;
    $wobble-step-percent: math.div($wobble-time-percent, $count + 2);
    $wobble-end-percent: 100% - $wobble-time-percent * 0.5;

    0%,
    100%,
    #{$wobble-delay-percent},
    #{$wobble-end-percent} {
      scale: 1;
      translate: 0 0;
      rotate: 0;
      color: nth($colors, 1);
    }

    #{$wobble-delay-percent + $wobble-step-percent},
    #{$wobble-delay-percent + $wobble-step-percent * ($count - 1)} {
      scale: $scale;
    }

    @for $i from 0 through $count {
      $start: $wobble-delay-percent + (($i + 1) * $wobble-step-percent);
      $end: $start + $wobble-step-percent;

      $odd: $i % 2 == 1;
      $oddToSign: if($odd, -1, 1);

      $translate: $oddToSign * $translation;
      $rotate: $oddToSign * $rotation;

      #{$start} {
        translate: $translate 0;
        rotate: $rotate;
        color: nth($colors, 2);
      }
    }
  }
}
